@import "tailwindcss";

:root {
  --background: #f4f3f3;
  --foreground: #171717;
}

@theme inline {
  --color-white-200:#f9f9f9;
  --color-zinc-100: #f4f3f3;
  --color-gray-200: #ECECEC;
  --color-gray-300: #D9D9D9;
  --color-gray-500: #bdbcbb;
  --color-light-purple: #FBDFFF;
  --color-light-pink: #FFDFEB;
  --color-red: #e22e22;
  --color-confidence-high: #30710e;
  --color-confidence-medium: #846617;
  --color-confidence-low: #1d1c1c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 커스텀 체크박스 스타일링 */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url('/unchecked.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: transparent;
  border: none;
  background-image: url('/checked.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
